# Python cache & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Build & dist
build/
dist/
*.egg-info

# Images & outputs
output/
*.png
*.jpg
*.jpeg

# Large data files
data/
*.mp4
*.avi
